extends layout

block content
	.container
		h1.naslov About Us
		p.justify Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, rerum sapiente minus iste dolores molestiae minima similique aut maiores fugit nemo voluptas ut pariatur ipsum, possimus alias nihil. Accusamus, dolor.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, ea. Dolor sequi ipsa cumque, voluptatem porro unde odio aspernatur, mollitia vero nemo eos tempora et beatae quod nulla placeat libero.
			ul.info_list
				li Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
				li Animi quo, voluptate ex fuga non vero sunt aliquid ullam, dolorem.
				li Aliquid repudiandae nam quos.
			p.justify Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta laudantium quasi ratione tempore consequatur voluptate! Ipsam obcaecati assumenda id vero magnam tempora neque nisi culpa iste, magni ab repellat reprehenderit.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia et, iste esse commodi. Quidem provident odit iste repellendus ex nihil veniam id aliquid animi, voluptates aperiam soluta voluptatum, quasi recusandae!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi aspernatur fuga culpa error iste doloribus, doloremque maiores nulla ipsa necessitatibus fugit dicta ducimus, quos odio quod similique animi cupiditate obcaecati?  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit dolore dicta fugiat deserunt magnam. Modi in eaque rem dolorum blanditiis ex veniam obcaecati sint ullam sunt illum quasi, alias tempora.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae eum ducimus unde sit deserunt neque tenetur eius modi labore corrupti sapiente, aliquid impedit optio? Iusto dolor tempora illum ducimus et!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. At architecto officia doloribus sapiente possimus reiciendis dolor incidunt! Nesciunt dignissimos, quaerat distinctio quasi laboriosam soluta non delectus error, nisi eius illum.