extends layout

block content
	.jumbotron
		.container
				h1.jumbo_naslov How may I help you?
				p.jumbo_naslov Lorem ipsum emmet lorem ipsum emmet lorem ipsum emet
				a.btn.btn-primary.btn-lg(href='') Learn more &raquo;
	.container
		.row
			.col-md-4
				h2 About Us
				p.justify Upoznajte se sa nasim asortimanom proizvoda i postanite dio nase price Upoznajte se sa nasim asortimanom proizvoda i postanite dio nase price Upoznajte se sa nasim asortimanom proizvoda i postanite dio nase price Upoznajte se sa nasim asortimanom proizvoda i postanite dio nase price
				a.btn.btn-info(href='#') View Detais
			.col-md-4
				h2 Services
				p.justify Upoznajte se sa nasim asortimanom proizvoda i postanite dio nase price Upoznajte se sa nasim asortimanom proizvoda i postanite dio nase price Upoznajte se sa nasim asortimanom proizvoda i postanite dio nase price Upoznajte se sa nasim asortimanom proizvoda i postanite dio nase price 
				a.btn.btn-info(href='#') View Detais
			.col-md-4
				h2 Get In Touch
				p.justify Upoznajte se sa nasim asortimanom proizvoda i postanite dio nase price Upoznajte se sa nasim asortimanom proizvoda i postanite dio nase price Upoznajte se sa nasim asortimanom proizvoda i postanite dio nase price Upoznajte se sa nasim asortimanom proizvoda i postanite dio nase price
				a.btn.btn-info(href='#') View Detais

  
  
